.background {
    background-color: #002266;
    background: url("https://i3.lensdump.com/i/TDPv0Q.jpeg") no-repeat top left fixed;
    background-size: cover;
}

h1 {
    color: white;
    text-shadow: 1px 1px #333;
    font-size: 3em;
    font-weight: bold;
    font-family: Garamond, serif;
}

.btn {
    margin-top: 1em;
    padding: 1em 2em;
    background-color: #333;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.description {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1.5em;
    margin-bottom: 1em;
    font-family: Garamond, serif;
}

img {
    width: 80px;
    height: 80px;
}

#join-us {
    font-family: Garamond, serif;
    font-weight: bold;
    color: white;
}

.card-body {
    opacity:0.5;
}
.card-body:hover {
    opacity: 1;
}