.background {
    background-color: #002266;
    background-image: url("https://i3.lensdump.com/i/TrsjNA.jpeg");
    background-position: bottom left;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    text-shadow: 1px 1px #333;
    font-size: 3em;
    font-weight: bold;
    font-family: Garamond;
}

.btn {
    margin-top: 1em;
    padding: 1em 2em;
    background-color: #333;
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.description {
    color: white;
    text-shadow: 1px 1px black;
    font-size: 1.5em;
    margin-bottom: 1em;
    font-family: Garamond;
}

img {
    width: 80px;
    height: 80px;
}

#buttons-div, #join-div {
    margin-left: 50%;
}

#join-div {
    width: 50vw;
}

#join-us {
    font-family: Garamond;
    font-weight: bold;
    color: white;
    margin-left: 50%;
}

.card-body {
    opacity:0.5;
}
.card-body:hover {
    opacity: 1;
}