.navbar-top {
    position: sticky !important;
    top: 0;
    z-index: 2;
    border-bottom: 2px solid #0d6efd ;
}
.navbar-brand {
    margin: 15px;
    padding: 0;
}

#search {
    margin: 15px;
    padding: 0;
}

#search-chooser{
    border-radius: 0 5px 5px 0;
}

#icons {
    margin: 15px;
    padding: 0;
}

#search-clear{
    display: none;
    align-self: center;
    margin: 5px;
    color: red;
}

.bi{
    font-size: 25px;
}

#logo a,
#logo a:focus {
    color: inherit;
    text-decoration: none;
}

#user{
    margin-left: 5px;
    margin-right: 5px;
}

#logo{
    margin-left: 15px;
}