.post-container {
    border: 2px solid #0d6efd;
    background-color: white;
    width: 80vw;
    margin: auto;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Garamond;
    box-shadow: 10px 10px 10px rgba(0,0,0,0.2);
}

.post-title {
    margin: 0;
}

.show-comm {
    border: none;
    background-color: transparent;
    font-size: 22px;
    color: grey;
    margin-bottom: 2%;
}

.show-comm:hover {
    opacity: 70%;
}

.search-result > header {
    text-align: right;
}

.search-result > footer {
    font-style: italic;
}

.show-comm-div {
    text-align: center;
}

.option {
    padding-top: 10px;
    width: fit-content;
    transform: translateX(20%);
    margin-left: auto;
    margin-right: 0;

    border: none;
    background-color: transparent;
    color: grey;
    cursor: pointer;
}

.option:hover {
    opacity: 70%;
}